body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f8f9fa;
}

h1,
h2 {
	color: #b22222;
	font-weight: bold;
}

.navbar-brand {
	font-weight: bold;
	font-size: 1.3rem;
}